<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>some wesite</title>
    </head>
    {{> header}}
    <body>
   
        <p>{{screamIt someText}}</p>
         {{> footer}}hhh
    </body>
</html>